In [1]:
# 연관 관계 분석

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
dataset = [['Milk', 'Ramen', 'Rice', 'Kimchi', 'Coke', 'Bear', 'Cookie', 'snack', 'Bread', 'Jam', 'Ham', 'Cheese'],
          ['Milk', 'Ramen', 'Rice', 'Kimchi', 'Coke'],
          ['Ramen', 'Rice', 'Kimchi', 'Coke', 'Bear'],
          ['Rice', 'Kimchi', 'Coke', 'Bear', 'Cookie'],
          ['Kimchi', 'Coke', 'Bear', 'Cookie', 'snack'],
          ['Coke', 'Bear', 'Cookie', 'snack', 'Bread'],
          ['Bear', 'Cookie', 'snack', 'Bread', 'Jam'],
          ['Cookie', 'snack', 'Bread', 'Jam', 'Ham'],
          ['snack', 'Bread', 'Jam', 'Ham', 'Cheese'],
          ['Rice', 'Kimchi', 'Coke', 'Bear', 'Cookie', 'snack', 'Bread', 'Jam']]

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Bear,Bread,Cheese,Coke,Cookie,Ham,Jam,Kimchi,Milk,Ramen,Rice,snack
0,True,True,True,True,True,True,True,True,True,True,True,True
1,False,False,False,True,False,False,False,True,True,True,True,False
2,True,False,False,True,False,False,False,True,False,True,True,False
3,True,False,False,True,True,False,False,True,False,False,True,False
4,True,False,False,True,True,False,False,True,False,False,False,True
5,True,True,False,True,True,False,False,False,False,False,False,True
6,True,True,False,False,True,False,True,False,False,False,False,True
7,False,True,False,False,True,True,True,False,False,False,False,True
8,False,True,True,False,False,True,True,False,False,False,False,True
9,True,True,False,True,True,False,True,True,False,False,True,True

In [3]:
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
frequent_itemsets.sort_values('support', ascending=False)

    support                itemsets
0       0.7                  (Bear)
2       0.7                  (Coke)
3       0.7                (Cookie)
7       0.7                 (snack)
18      0.6         (snack, Cookie)
16      0.6          (Coke, Kimchi)
14      0.6          (Bread, snack)
1       0.6                 (Bread)
9       0.6          (Bear, Cookie)
8       0.6            (Bear, Coke)
5       0.6                (Kimchi)
23      0.5   (Bear, snack, Cookie)
22      0.5    (Bear, Coke, Kimchi)
21      0.5    (Bear, Cookie, Coke)
24      0.5  (Bread, snack, Cookie)
20      0.5          (Rice, Kimchi)
25      0.5     (Jam, Bread, snack)
19      0.5            (Jam, snack)
13      0.5            (Jam, Bread)
17      0.5            (Rice, Coke)
15      0.5          (Cookie, Coke)
12      0.5         (Bread, Cookie)
11      0.5           (Bear, snack)
10      0.5          (Bear, Kimchi)
6       0.5                  (Rice)
4       0.5                   (Jam)
26      0.5    (Rice, Coke, Kimchi)

In [4]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x : len(x))
frequent_itemsets

    support         itemsets  length
0       0.7           (Bear)       1
1       0.6          (Bread)       1
2       0.7           (Coke)       1
3       0.7         (Cookie)       1
4       0.6         (Kimchi)       1
5       0.7          (snack)       1
6       0.6     (Bear, Coke)       2
7       0.6   (Bear, Cookie)       2
8       0.6   (Bread, snack)       2
9       0.6   (Coke, Kimchi)       2
10      0.6  (snack, Cookie)       2

In [5]:
frequent_itemsets1 = frequent_itemsets[(frequent_itemsets['length'] == 2) & (frequent_itemsets['support'] >= 0.6)]
frequent_itemsets1

    support         itemsets  length
6       0.6     (Bear, Coke)       2
7       0.6   (Bear, Cookie)       2
8       0.6   (Bread, snack)       2
9       0.6   (Coke, Kimchi)       2
10      0.6  (snack, Cookie)       2

In [6]:
rules1=association_rules(frequent_itemsets, metric='lift', min_threshold=0.8)
rules1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Bear),(Coke),0.7,0.7,0.6,0.857143,1.224490,0.11,2.1,0.611111
1,(Coke),(Bear),0.7,0.7,0.6,0.857143,1.224490,0.11,2.1,0.611111
2,(Bear),(Cookie),0.7,0.7,0.6,0.857143,1.224490,0.11,2.1,0.611111
3,(Cookie),(Bear),0.7,0.7,0.6,0.857143,1.224490,0.11,2.1,0.611111
4,(Bread),(snack),0.6,0.7,0.6,1.000000,1.428571,0.18,inf,0.750000
5,(snack),(Bread),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8,1.000000
6,(Coke),(Kimchi),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8,1.000000
7,(Kimchi),(Coke),0.6,0.7,0.6,1.000000,1.428571,0.18,inf,0.750000
8,(snack),(Cookie),0.7,0.7,0.6,0.857143,1.224490,0.11,2.1,0.611111
9,(Cookie),(snack),0.7,0.7,0.6,0.857143,1.224490,0.11,2.1,0.611111

In [7]:
rules2=association_rules(frequent_itemsets, metric='lift', min_threshold=1.2)
rules2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Bear),(Coke),0.7,0.7,0.6,0.857143,1.224490,0.11,2.1,0.611111
1,(Coke),(Bear),0.7,0.7,0.6,0.857143,1.224490,0.11,2.1,0.611111
2,(Bear),(Cookie),0.7,0.7,0.6,0.857143,1.224490,0.11,2.1,0.611111
3,(Cookie),(Bear),0.7,0.7,0.6,0.857143,1.224490,0.11,2.1,0.611111
4,(Bread),(snack),0.6,0.7,0.6,1.000000,1.428571,0.18,inf,0.750000
5,(snack),(Bread),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8,1.000000
6,(Coke),(Kimchi),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8,1.000000
7,(Kimchi),(Coke),0.6,0.7,0.6,1.000000,1.428571,0.18,inf,0.750000
8,(snack),(Cookie),0.7,0.7,0.6,0.857143,1.224490,0.11,2.1,0.611111
9,(Cookie),(snack),0.7,0.7,0.6,0.857143,1.224490,0.11,2.1,0.611111

### **

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv("C:/Users/user/Downloads/diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [11]:
# outcome 으로 classification, outcome 지우고 BMI로 regression

In [12]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64